<article id="kodawari" class="p-kodawari">
  <h1 class="c-heading1"><span>こだわり</span></h1>
  <div class="p-kodawari_swiperBtn-prev"></div>
  <div class="p-kodawari_swiperBtn-next"></div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">

        <div class="c-flexbox c-flexbox-justifyBetween">
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari1.svg" width="35" alt="1"><span>カット</span></div>
          <div class="c-flexbox_col">
            <h2>お客様の髪をしっかり知る</h2>
            <p>ドライカットを採用しています。ドライカットとはフランスで生まれた技法で、名前の通り髪をドライな(=乾いた)状態で切るカットの技法のことです。<br>髪は仕上がったときには実際には乾いているもの。ドライカットを用いることで、乾いた状態の髪の癖やボリュームなど、繊細な動きを掴みながらカットしていきます。<br>お客様の髪の個性を知ることで、セットやアレンジを楽しめるスタイルを創ります。</p>
          </div>
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari1_img.svg" width="134" alt="お客様の髪をしっかり知る"></div>
        </div>

      </div>
      <div class="swiper-slide">

        <div class="c-flexbox c-flexbox-justifyBetween">
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari2.svg" width="61" alt="2"><span>カラー</span></div>
          <div class="c-flexbox_col">
            <h2>Rブリーチでダメージレスな美しい髪に</h2>
            <p>カラーをする前にCMC、ケラチンといった成分で出来る限り、髪を本来の性質に戻します。カラー剤にはR(アミノ酸)を混ぜることで、髪のツヤ出し効果、髪の痛みの補修を促します。<br>カラーをした後には、薬剤除去を施し、薬剤の髪への影響をできる限り抑えます。<br>髪へのダメージを極力抑えたカラーで美しい髪色を実現します。</p>
          </div>
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari2_img.svg" width="192" alt="Rブリーチでダメージレスな美しい髪に"></div>
        </div>

      </div>
      <div class="swiper-slide">

        <div class="c-flexbox c-flexbox-justifyBetween">
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari3.svg" width="55" alt="3"><span>パーマ</span></div>
          <div class="c-flexbox_col">
            <h2>クリープパーマで髪にストレスのないカールを</h2>
            <p>施術前に必ずテストカールをさせて頂きます。<br>「クリープパーマ」とは毛髪内部の細胞を保護した後、髪の細胞（コルテックス）が、自由に変形移動して負荷のかからない状態になる「クリープ現象」を利用し、無理なくカールさせるパーマです。<br>そして、ポリフェノールで健康な水分量に近づけ、毛髪を引き締めます。<br>髪にストレスのない技術でカールを長持ちさせます。</p>
          </div>
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari3_img.svg" width="112" alt="クリープパーマで髪にストレスのないカールを"></div>
        </div>

      </div>
      <div class="swiper-slide">

        <div class="c-flexbox c-flexbox-justifyBetween">
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari4.svg" width="60" alt="4"><span>頭皮保護<br>＆<br>使用材料</span></div>
          <div class="c-flexbox_col">
            <h2>頭皮の健康を第一に</h2>
            <p>パーマやカラーを施す前には、必ず(頭皮が荒れる、荒れないに関わらず)<br>お客様のお顔周り、頭皮に保護クリームを塗らさせて頂いております。</p>
            <p>使用材料には髪の健康にとことんこだわった、TEMOIやリトルサイエンティストといったヘアケア専門のシャンプーやトリートメントを使用しています。<br>その他にも頭皮ケア・ヘアケアのスカルプパックや育毛のためのヘアトニック等も実施しております。</p>
          </div>
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari4_img.svg" width="113" alt="頭皮の健康を第一に"></div>
        </div>

      </div>
      <div class="swiper-slide">

        <div class="c-flexbox c-flexbox-justifyBetween">
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari5.svg" width="58" alt="5"><span>着付け<br>＆<br>ヘアアレンジ</span></div>
          <div class="c-flexbox_col">
            <h2>人生の大切な一日のために...<br>着付け・ヘアアレンジはお任せください！</h2>
            <p>着付けコンテスト優勝の経験を持つオーナー藤原(岡山県美容技術コンクール 中振袖着付けの部 優勝)が責任を持って着付けさせて頂きます。</p>
            <p>皆様の大切な一日が素敵な日になりますよう、ヘアアレンジをご提案いたします。</p>
            <ul class="c-flexbox c-flexbox-flexWrap">
              <li class="c-flexbox_col">七五三</li>
              <li class="c-flexbox_col">アップスタイル</li>
              <li class="c-flexbox_col">成人式</li>
              <li class="c-flexbox_col">ダウンスタイル</li>
              <li class="c-flexbox_col">卒業式 etc...</li>
              <li class="c-flexbox_col">アルバム</li>
            </ul>
          </div>
          <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kodawari5_img.svg" width="216" alt="人生の大切な一日のために...着付け・ヘアアレンジはお任せください！"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="p-kodawari_img"><img src="<%= config.path.img; %>/quatre_2.jpg" width="570" alt=""></div>
</article>
