<article id="menu" class="p-menu">
  <div class="c-flexbox">
    <div class="c-flexbox_col6">
      <h1 class="c-heading1"><span>メニュー</span></h1>
    </div>
  </div>
  <div class="c-flexbox">
    <div class="c-flexbox_col6">
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">カット<img src="<%= config.path.img; %>/quatre_cut.svg" width="15" alt="Cut"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">カット</dt>
            <dd class="c-flexbox_col3">¥3,780</dd>
            <dt class="c-flexbox_col9">スクールカット<span>（高校生まで）</span></dt>
            <dd class="c-flexbox_col3">¥2,700</dd>
            <dt class="c-flexbox_col9">キッズカット<span>（小学生以下）</span></dt>
            <dd class="c-flexbox_col3">¥1,620</dd>
            <dt class="c-flexbox_col9">前髪カット<span>（シャンプー&ブローなし）</span></dt>
            <dd class="c-flexbox_col3">¥540</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">カラー<img src="<%= config.path.img; %>/quatre_color.svg" width="25" alt="Color"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">ヘアカラー</dt>
            <dd class="c-flexbox_col3">¥5,940~</dd>
            <dt class="c-flexbox_col9">ヘナ</dt>
            <dd class="c-flexbox_col3">¥6,480~</dd>
            <dt class="c-flexbox_col9">マニュキア</dt>
            <dd class="c-flexbox_col3">¥5,400~</dd>
            <dt class="c-flexbox_col9">ダブルカラー<span class="c-visible-sp">（※ロング料金&nbsp;&nbsp;¥1,080~）</span></dt>
            <dd class="c-flexbox_col3">¥10,800~</dd>
            <dd class="c-flexbox_col6 c-visible-pc">（
              <dl class="c-flexbox c-flexbox-inline">
                <dt class="c-flexbox_col">※ロング料金</dt>
                <dd class="c-flexbox_col">¥1,080~</dd>
              </dl>
            ）</dd>
            <dt class="c-flexbox_col9">ダメージレスカラー</dt>
            <dd class="c-flexbox_col3">+¥2,160</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">パーマ<img src="<%= config.path.img; %>/quatre_perm.svg" width="27" alt="Perm"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">ショート</dt>
            <dd class="c-flexbox_col3">¥5,400</dd>
            <dt class="c-flexbox_col9">ロング</dt>
            <dd class="c-flexbox_col3">¥6,480</dd>
            <dt class="c-flexbox_col9">クリープパーマ</dt>
            <dd class="c-flexbox_col3">¥1,080</dd>
            <dt class="c-flexbox_col9">ツイストパーマ</dt>
            <dd class="c-flexbox_col3">¥6,480</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">ストレート<br class="c-visible-pc">パーマ<img src="<%= config.path.img; %>/quatre_straightperm.svg" width="68" alt="Straight Perm"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">ストレートパーマ<br><span>（パーマ落とし/ボリュームダウン）</span></dt>
            <dd class="c-flexbox_col3">¥5,400~</dd>
            <dt class="c-flexbox_col9">縮毛強制</dt>
            <dd class="c-flexbox_col3">¥10,800~</dd>
            <dt class="c-flexbox_col9">部分強制</dt>
            <dd class="c-flexbox_col3">¥3,240~</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="c-flexbox_col6">
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading p-menu_heading-lsminus1">トリートメント<img src="<%= config.path.img; %>/quatre_treatment.svg" width="47" alt="Treatment"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">トリートメント<br><span>（ボリュームアップorダウン、サラつや、薬剤除去 etc..）</span></dt>
            <dd class="c-flexbox_col3">¥3,240~</dd>
            <dt class="c-flexbox_col9">クセ取りトリートメント</dt>
            <dd class="c-flexbox_col3">¥5,400</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">ヘアセット<img src="<%= config.path.img; %>/quatre_hairset.svg" width="44" alt="Hair Set"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">アップスタイル</dt>
            <dd class="c-flexbox_col3">¥4,320</dd>
            <dt class="c-flexbox_col9">ダウンスタイル</dt>
            <dd class="c-flexbox_col3">¥3,240</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">着付け<img src="<%= config.path.img; %>/quatre_dressing.svg" width="42" alt="Dressing"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">袴・訪問着</dt>
            <dd class="c-flexbox_col3">¥5,400</dd>
            <dt class="c-flexbox_col9">振り袖</dt>
            <dd class="c-flexbox_col3">¥6,480</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading p-menu_heading-lsminus1">リラクゼーション<img src="<%= config.path.img; %>/quatre_relaxation.svg" width="52" alt="Relaxation"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">ヘッドスパ<span>（15分）</span></dt>
            <dd class="c-flexbox_col3">¥2,160</dd>
            <dt class="c-flexbox_col9">ヘッドスパ<span>（30分）</span></dt>
            <dd class="c-flexbox_col3">¥3,240</dd>
            <dt class="c-flexbox_col9">首・肩<span>（15分）</span></dt>
            <dd class="c-flexbox_col3">¥1,620</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox p-menu_table">
        <h2 class="c-flexbox_col p-menu_heading">Free<img src="<%= config.path.img; %>/quatre_forfree.svg" width="49" alt="For Free"></h2>
        <div class="c-flexbox_col">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
            <dt class="c-flexbox_col9">眉カット</dt>
            <dd class="c-flexbox_col3">¥0</dd>
          </dl>
        </div>
      </div>
      <div class="p-menu_passport">
        <div class="c-flexbox p-menu_table">
          <h2 class="c-flexbox_col p-menu_heading">年間パス<img src="<%= config.path.img; %>/quatre_annualpass.svg" width="62" alt="Annual Pass"></h2>
          <div class="c-flexbox_col">
            <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap p-menu_items">
              <dt class="c-flexbox_col9">前髪カット年間パスポート</dt>
              <dd class="c-flexbox_col3">¥2,160</dd>
            </dl>
          </div>
        </div>
      </div>
      <ul class="p-menu_annotation">
        <li>※1&nbsp;全てシャンプー＆ブロー込みの料金です（一部を除く）</li>
        <li>※2&nbsp;シャンプー＆ブローのみは¥1,620</li>
        <li>※3&nbsp;料金は全て税抜きです</li>
      </ul>
    </div>
  </div>
  <div class="p-menu_img"><img src="<%= config.path.img; %>/quatre_3.jpg" width="570" alt=""></div>
</article>
