<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<title><%= config.meta.title; %></title>
<meta name="keywords" content="<%= config.meta.keywords; %>">
<meta name="description" content="<%= config.meta.description; %>">
<meta property="og:title" content="<%= config.meta.title; %>">
<meta property="og:description" content="<%= config.meta.description; %>">
<meta property="og:type" content="<%= config.meta.og_type; %>">
<meta property="og:image" content="<%= config.meta.og_img; %>">
<meta property="og:url" content="<%= config.meta.og_url; %>">
<link rel="icon" type="image/png" href="<%- config.path.ico; %>">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%- config.path.ico; %>">
<link rel="stylesheet" href="<%= config.path.css; %>/style.css">
