<article id="photo" class="p-photo">
  <div class="c-flexbox">
    <div class="c-flexbox_col">
      <h1 class="c-heading1"><span>写真</span></h1>
    </div>
  </div>
  <div class="c-tabs" data-qt-tabs>
    <ul class="c-tabs_toggles" data-qt-toggles>
      <li class="c-tabs_toggle c-tabs_toggle-active">お店</li>
      <li class="c-tabs_toggle">スタイル</li>
      <li class="c-tabs_toggle">着付け</li>
    </ul>
    <div class="c-tabs_contents" data-qt-contents>
      <div class="c-tabs_content c-tabs_content-active">
        <ul class="c-flexbox c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4249.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4027.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4095.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4054.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4109.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4122.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4064.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4143.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4217.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4211.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4079.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/4033.jpg"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/1029.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/1058.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/1127.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/1115.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/0976.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/0983.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/1092.jpg"></li>
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/1077.jpg"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="<%= config.path.img; %>/photo/0948.jpg"></li>
        </ul>
      </div>
    </div>
  </div>
</article>
