<article id="staff" class="p-staff">
  <h1 class="c-heading1"><span>スタッフ</span></h1>
  <div class="c-flexbox">
    <div class="c-flexbox_col6">
      <div class="p-staffprofile">
        <img src="<%= config.path.img; %>/quatre_fujiwara.svg" width="293" alt="Katsuki Fujiwara">
        <img src="<%= config.path.img; %>/quatre_fujiwara.jpg" width="320" alt="藤原克史">
        <h2>藤原克史</h2>
        <p>1983年生まれ/B型</p>
        <dl class="c-flexbox c-flexbox-flexWrap">
          <dt class="c-flexbox_col p-staffprofile_dt">得意な技術</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">ドライカット、トリートメント、着付け</dd>
          <dt class="c-flexbox_col p-staffprofile_dt">好きなもの</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">キングダム、ワンピース、猫、ゴルフ</dd>
          <dt class="c-flexbox_col p-staffprofile_dt">性格</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">のんびり屋</dd>
        </dl>
        <dl class="c-flexbox c-flexbox-flexWrap">
          <dt class="c-flexbox_col p-staffprofile_dt">岡山県美容技術コンクール</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">フリースタイルの部 優勝</dd>
          <dd class="c-flexbox_col p-staffprofile_dd">カット＆ブローの部 入賞</dd>
          <dd class="c-flexbox_col p-staffprofile_dd">中振袖着付けの部 優勝</dd>
          <dt class="c-flexbox_col p-staffprofile_dt">Bー１グランプリ</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">ウィッグカット有資格 優勝 準優勝</dd>
        </dl>
      </div>
    </div>
    <div class="c-flexbox_col6">
      <div class="p-staffprofile">
        <img src="<%= config.path.img; %>/quatre_kii.svg" width="184" alt="Yurika Kii">
        <img src="<%= config.path.img; %>/quatre_kii.jpg" width="320" alt="喜井優里花">
        <h2>喜井優里花</h2>
        <p>O型</p>
        <dl class="c-flexbox c-flexbox-flexWrap">
          <dt class="c-flexbox_col p-staffprofile_dt">得意な技術</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">透明感のあるカラー、ヘアアレンジ、アレンジしやすいカット</dd>
          <dt class="c-flexbox_col p-staffprofile_dt">好きなもの</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">スノーボード、サーフィン、ウェイクボード</dd>
          <dt class="c-flexbox_col p-staffprofile_dt">性格</dt>
          <dd class="c-flexbox_col p-staffprofile_dd">しっかり者</dd>
        </dl>
      </div>
    </div>
  </div>
  <img src="<%= config.path.img; %>/quatre_4.jpg" width="570" alt="">
</article>
