<!DOCTYPE html>
<html>
<head>
<%- include('_meta'); %>
</head>
<body>
  <div class="l-wrapper">
    <header>
      <%- include('_heroimage'); %>
      <nav>
        <%- include('_nav', { reservation: true, sociallink: true }); %>
      </nav>
    </header>
    <main>
      <%- include('_concept'); %>
      <%- include('_codawari'); %>
      <%- include('_menu'); %>
      <%- include('_staff'); %>
      <%- include('_photo'); %>
      <%- include('_access'); %>
    </main>
    <footer>
      <%- include('_footer'); %>
    </footer>
  </div>
<script src="/js/scripts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollama/1.4.4/scrollama.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
